:root {
  --primary-color: #F2E9C8;
  --primary-color-light: #FFFFF0;
  --primary-color-dark: #DDC589;
  --primary-color-grey: #F2F0ED;

  --secondary-color: #B78313;

  --tertiary-color: #4B3E24;

  --quaternary-color: #8D6E2F;
  
  --success-color: #198754;
  --warning-color: #ffc107;
  --danger-color: #dc3545;

  --font-family-base: 'Raleway', sans-serif;
   --font-family-heading: 'Cinzel', 'Palatino Linotype', serif;
    --font-logo: 'Merriweather', serif;
  --border-radius: 0.5rem;
  --primary-text-color: #212529;
  --background-color: #6F6345;
}